*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --c-turquoise: #007173;
  --c-persian-green: #009496;
  --c-pearl-bush: #F1EAE6;
  --c-black: #000;
  --c-white: #fff;
  --c-ebony: #0F1828;
  --c-tiber: #09443E;
  --c-peach-schnapps: #FFE1D6;

  /* Fonts */
  --ff-primary: "General Sans";
  --ff-secondary: "Gotcha";
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  font-family: var(--ff-primary);
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}