.container {
  max-width: 1320px;
  padding: 0 1rem;
  margin: 0 auto;
}

.highlight {
  --color: var(--c-turquoise);
  font-family: var(--ff-secondary);
  font-size: 1.5em;
  font-weight: 400;
  line-height: .73;
  color: var(--color);
}

/* Flex system (used in columns) */
.row {
  margin-inline: -1rem;
  display: flex;
  flex-wrap: wrap;
}

.row > .col {
  --column-width: 100%;
  flex: 0 0 var(--column-width);
  max-width: var(--column-width);
  padding-inline: 1rem;
}

/* Screen reader text */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}