.button {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  padding: 1em 1.5em;
}

.button--primary {
  background-color: var(--c-turquoise);
  color: var(--c-white);
}

.button--secondary {
  background-color: transparent;
  color: var(--c-ebony);
}