.form-input {
  border-radius: 8px;
  border: 1px solid var(--c-scorpion);
  background-color: var(--c-white);
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--c-scorpion);
  display: block;
}