<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Signup</title>
  <!-- Globals CSS -->
  <link rel="stylesheet" href="../css/globals/font-face.css">
  <link rel="stylesheet" href="../css/globals/base.css">
  <link rel="stylesheet" href="../css/globals/utilities.css">

  <link rel="stylesheet" href="../css/atoms/input.css">
  <link rel="stylesheet" href="../css/components/email-signup.css">
</head>
<body>
  <div class="container">
    <form class="form form--email-signup">
      <label for="email" class="sr-only">Email Address</label>
      <input type="email" name="email" id="email" placeholder="Email address" class="form-input">
      <button type="submit" class="button button--primary">Subscribe</button>
    </form>
  </div>
</body>
</html>