<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Step Card</title>
    <!-- Globals CSS -->
    <link rel="stylesheet" href="../css/globals/font-face.css">
    <link rel="stylesheet" href="../css/globals/base.css">
    <link rel="stylesheet" href="../css/globals/utilities.css">

    <link rel="stylesheet" href="../css/atoms/input.css">
    <link rel="stylesheet" href="../css/components/step-card.css">
</head>
<body style="background-color: var(--c-tiber);">
    <div class="container">

        <!--
        - .step-cards is the wrapper for the step cards
        - .step-card is the step card component itself

        I used the <ol> or "ordered list" tag for step-cards for semantic HTML purposes.
        -->
        <ol class="step-cards">
            <li class="step-card">
                <div class="step-card__info">
                    <h3 class="step-card__title">Focus on Quality and Technology</h3>
                    <div class="step-card__description">
                        <p>Et elementum sit a facilisi porttitor non. Lectus ut risus habitant lectus vitae. Arcu dui quis in orci ullamcorper quisque sit praesent. Vel massa sed molestie est elementum enim amet. Pretium ultrices nunc pellentesque egestas netus proin. Tortor non elementum.</p>
                    </div>
                </div>
            </li>
            <li class="step-card">
                <div class="step-card__info">
                    <h3 class="step-card__title">Focus on Quality and Technology</h3>
                    <div class="step-card__description">
                        <p>Et elementum sit a facilisi porttitor non. Lectus ut risus habitant lectus vitae. Arcu dui quis in orci ullamcorper quisque sit praesent. Vel massa sed molestie est elementum enim amet. Pretium ultrices nunc pellentesque egestas netus proin. Tortor non elementum.</p>
                    </div>
                </div>
            </li>
            <li class="step-card">
                <div class="step-card__info">
                    <h3 class="step-card__title">Focus on Quality and Technology</h3>
                    <div class="step-card__description">
                        <p>Et elementum sit a facilisi porttitor non. Lectus ut risus habitant lectus vitae. Arcu dui quis in orci ullamcorper quisque sit praesent. Vel massa sed molestie est elementum enim amet. Pretium ultrices nunc pellentesque egestas netus proin. Tortor non elementum.</p>
                    </div>
                </div>
            </li>
        </ol>

    </div>
</body>
</html>