.button-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 32px;
  width: 100%;
}

.button-group > .button {
  width: 100%;
}

@media all and (min-width: 992px) {
  .button-group {
    flex-direction: row;
  }

  .button-group > .button {
    width: auto;
  }
}