.content-media {
  padding-top: 64px;
}

.content-media__row .col:has(.content-media__media) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.content-media__info {
  --padding-y: 0;
  padding: var(--padding-y) 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-media__media {
  --dimensions: 604px;
  margin-top: calc(52px - 1rem); /* Subtracted 1rem since this is the assigned row gap for the columns on mobile */
  position: relative;
  width: 100%;
  border-radius: 1000px 1000px 0 0;
  overflow: hidden;
  max-width: var(--dimensions);
  max-height: var(--dimensions);
  margin-inline: auto;
}

.content-media__image-wrapper {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.content-media__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

@media all and (min-width: 992px) {
  .content-media {
    padding-top: 0;
  }

  .content-media__row {
    align-items: flex-end;
  }

  .content-media__row .col {
    --column-width: 50%;
  }

  .content-media__info {
    --padding-y: 119px;
    max-width: 575px;
  }

  .content-media__media {
    margin-top: 76px;
    margin-inline: unset;
  }
}

/**
* ==============
* Modifiers
*/

/* Gradient background */
.is-dual-bg-light {
  background: var(--c-pearl-bush);
}

.is-dual-bg-dark {
  color: var(--c-pearl-bush);
  background: var(--c-tiber);
}

.is-dual-bg-dark .content-media__info-heading {
  color: var(--c-white);
}

.is-dual-bg-dark .highlight {
  --color: var(--c-peach-schnapps);
}

@media all and (min-width: 992px) {
  .is-dual-bg-light {
    background: linear-gradient(to right, var(--c-pearl-bush) 70%, var(--c-persian-green) 30%);
  }

  .is-dual-bg-dark {
    background: linear-gradient(to right, var(--c-tiber) 70%, var(--c-peach-schnapps) 30%);
  }
}

/* Media position */
.is-media-left .col:has(.content-media__media) {
  order: 1;
}

@media all and (min-width: 992px) {
  .is-media-left .col:has(.content-media__media) {
    order: -1;
  }

  .is-media-left.is-dual-bg-light {
    background: linear-gradient(to left, var(--c-pearl-bush) 70%, var(--c-persian-green) 30%);
  }

  .is-media-left.is-dual-bg-dark {
    background: linear-gradient(to left, var(--c-tiber) 70%, var(--c-peach-schnapps) 30%);
  }
}

/* Image rendering */
.is-image-contained .content-media__image-wrapper {
  padding-top: 0;
}

.is-image-contained .content-media__image {
  position: static;
  width: auto;
  height: auto;
  object-position: unset;
  object-fit: contain;
}

.is-image-contained .content-media__media {
  max-width: none;
  margin-top: 0;
}

/* Hero variant */
@media all and (min-width: 992px) {
  .content-media--hero .content-media__info {
    padding-top: 341px;
    padding-bottom: 185px;
  }

  .content-media--hero .block-heading__title {
    font-size: 48px;
  }

  .content-media--hero .content-media__info {
    max-width: 477px;
  }
}

/* Image overlapped */
@media all and (min-width: 992px) {
  .is-image-overlapped {
    margin-top: 140px;
  }

  .is-image-overlapped .content-media__media {
    margin: -120px 0 0;
    max-width: 484px;
  }
}

/* Contained */
.container .content-media {
  border-radius: 16px;
}

.container .content-media .container {
  max-width: 1190px;
}
