/* .content-media {
  --padding-t: 76px;
  padding-top: var(--padding-t);
} */

.content-media__row {
  align-items: stretch;
}

.content-media__row .col {
  --column-width: 50%;
}

.content-media__row .col:has(.content-media__media) {
  position: relative;
}

.content-media__info {
  --padding-y: 119px;
  padding: var(--padding-y) 0;
  max-width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-media__media {
  position: relative;
  bottom: 0;
  width: 100%;
  max-width: 604px;
  border-radius: 1000px 1000px 0 0;
  overflow: hidden;
}

.content-media__image-wrapper {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.content-media__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}


/**
* ==============
* Modifiers
*/

/* Gradient background */
.has-dual-bg-light {
  background: linear-gradient(to right, var(--c-pearl-bush) 70%, var(--c-persian-green) 30%);
}

/* Media position */
.is-dual-bg-light {
  background: linear-gradient(to right, var(--c-pearl-bush) 70%, var(--c-persian-green) 30%);
}

/* Media position */
.is-media-left .col:has(.content-media__media) {
  order: -1;
}

.is-media-left.is-dual-bg-light {
  background: linear-gradient(to left, var(--c-pearl-bush) 70%, var(--c-persian-green) 30%);
}

/* Image rendering */
.is-image-contained .content-media__image-wrapper {
  padding-top: 0;
}

.is-image-contained .content-media__image {
  position: static;
  width: auto;
  height: auto;
  object-position: unset;
  object-fit: contain;
}

.is-image-contained .col:has(.content-media__media) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}
