.content-media__row {
  align-items: center;
}

.content-media__row .col {
  --column-width: 50%;
}

.content-media__media {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.content-media__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}